#headerBanner{
    background-color: white;
    object-fit: cover;
    height: 48.8rem;
}

header{
    padding: 0rem 3rem;
}

.lineas{
    width: 100%;
    height: 100%; 
}

.logoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-top: 6.2rem;
    margin-bottom: 5.5rem;
}

.nav{
    list-style: none;
    height: 5rem;
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--verdeClaro);

    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
}

.hijoOption{
    width: 13.8rem;
    height: 3.6rem;
    cursor: pointer;
    font-family: var(--titulos);
    font-size: 2rem;
    font-weight: 400;

    margin-right: 3.3rem; 
    
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    list-style: none;   
}

.hijoOption:hover{
    color: rgb(30, 128, 30);
    transition: 0.3s;
}

.flecha{
    text-align: center;
    
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
}

.flecha a{
    cursor: pointer;
    width: 13.8rem;
    height: 3.6rem;
    margin-right: 3.3rem;
}

#flechaH:hover{
    background-color: rgba(0, 128, 0, 0.228);
    transition: 0.6s;
    border-radius: 100%;
}