.boxPadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contenidoPiramide{
    width: 54rem;
    height: 19.3rem;
    
    margin-right: 5.2rem;
    font-size: var(--h3);
    
}
.tituloPiramide{
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--colorTexto);
    margin-bottom: 5.4rem;
}
.textoPiramide{
    font-size: var(--parrafo);
}