/***********KIMBERLY***********/

.padreProte{
    /* max-width: 121rem; */
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.hijoProte{
    margin-top: 4.2rem;
}

.cajaProte{
    width: 29.6rem;
    height: 8.8rem;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(149, 153, 136, 0.41);
}

.cajaProte h2{
    font-size: 2rem;
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--verdeClaro);
}

.subHijoProte{
    width: 29.5rem;
    height: 64.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 0.5rem;
    background-color: rgba(149, 153, 136, 0.41);
    
    box-shadow: -1px 17px 0px -9px rgba(64,110,63,1);
    -webkit-box-shadow: -1px 17px 0px -9px rgba(64,110,63,1);
    -moz-box-shadow: -1px 17px 0px -9px rgba(64,110,63,1);

}
.subHijoProte p{
    font-size: 2rem;
    font-family: var(--titulos);
    font-weight: 400;
    
}
.imgProteina{
    object-fit: cover;
    height: 25rem;
    width: 29.5rem;
    margin-bottom: 3.4rem;
}

.tituloProteina{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15.5rem;
    margin-bottom: 3rem;
    font-size: 6.4rem;
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--verdeClaro);
}

.imgGrafics{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.7rem;
}
.imgGrafics img{
    object-fit: cover;
}
/*************GENESIS***********/

.padreProteinas{
    width: 113.2rem;
    height: 80.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-top: 5px solid var(--verde);
    margin-top: 9rem;
    border-bottom: 5px solid var(--verde);
}
.subVdProteina{
    width: 40.2rem;
    height: 7.8rem;
    margin-bottom: 3.1rem;
    text-align: center;
}
.subVdProteina h3{
    font-size: 3.2rem;
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--colorTexto);
    
}

/*************NATALY*****************/
.padreTexProt{
    width: 113.2rem;
    height: 56.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: auto;
    border-bottom: 5px solid var(--verde);
    margin-bottom: 11.5rem;
}
.padreTexProt p{
    width: 49.6rem;
    height: auto;
    margin-right: 7.8rem;
    font-size: var(--parrafo);
    text-align: justify;
}
.imgProteText{
    width: 41.8rem;
    height: 39.2rem;
    background-color: aliceblue;
}

/***********GRAFICA PROTEINAS**********/
.estadisticaProte{
    width: 115rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 18.1rem;
    border-top: 5px solid var(--verdeClaro);
    padding-top: 15rem;
}
.TituloContenido{
    font-size: 4rem;
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--verdeClaro);
    margin-bottom: 5rem;
}
.hijoimg{
    display: flex;
    justify-content: center;

}
.graficProt{
    width: 100rem;
}
.abajoGrafic{
    display: flex;
}
.abajoGrafic h3{
    width: 8.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--verdeClaro);
    font-family: var(--titulos);
    font-weight: 400;
}
.abajoGrafic img{
    width: 95rem;
    margin-right: 3rem;
}